@page "/GuestOptions"

Welcome to your new app.

<div style="text-align: center;">
    <button class="btn btn-primary" @onclick="Button1Click">Button 1</button>
    <button class="btn btn-primary" @onclick="Button2Click">Button 2</button>
    <button class="btn btn-primary" @onclick="Button3Click">Button 3</button>
    <button class="btn btn-primary" @onclick="Button4Click">Button 4</button>
    <button class="btn btn-primary" @onclick="Button5Click">Button 5</button>
    <button class="btn btn-primary" @onclick="Button6Click">Button 6</button>
    <button class="btn btn-primary" @onclick="Button7Click">Button 7</button>
    <button class="btn btn-primary" @onclick="Button8Click">Button 8</button>
</div>

@code {
    private string liveText = "Welcome to your new app.";

    private void Button1Click()
    {
        Console.WriteLine("Button 1 clicked");
    }

    private void Button2Click()
    {
        Console.WriteLine("Button 2 clicked");
    }

    private void Button3Click()
    {
        Console.WriteLine("Button 3 clicked");
    }

    private void Button4Click()
    {
        Console.WriteLine("Button 4 clicked");
    }

    private void Button5Click()
    {
        Console.WriteLine("Button 5 clicked");
    }

    private void Button6Click()
    {
        Console.WriteLine("Button 6 clicked");
    }

    private void Button7Click()
    {
        Console.WriteLine("Button 7 clicked");
    }

    private void Button8Click()
    {
        Console.WriteLine("Button 8 clicked");
    }
}
